################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/obj
/App/.vs/App/v16
/App/bin/Debug
/.vs/App/v16
